<!doctype html>
<html>
<head>
    <title>Journal</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>Daily Journal</h1>
        <img src="img/book1.png" alt="journal logo">

        <p>Login or Signup:</p>

        <a href="/login" class="btnLogin btn btn-default"><span class="fa fa-user"></span> Login</a>
        <a href="/signup" class="btnSign btn btn-default"><span class="fa fa-user"></span> Signup</a>

    </div>

</div>
</body>
</html>
